<footer class="footer">
  <small>
    <a href="http://powerful-atoll-6334.herokuapp.com/">Dot Grid Rails</a>
    by Scott LaBounty
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
